
.rowCss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.part1{
    background-color: gold;
    min-width: 20%;
    max-height:100%;
    
}
.part2{
    background-color: hotpink;
    min-width: 28%;
    max-height:100%;
}
ul{
    margin: 12%;
    width: 90%;
    height: 100%;
    background-color: lawngreen;
}