body{
    background-image: url("ice.jpg");
    
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-text{
    font-size: 3rem;
    padding:0 1.5rem 0 1.5rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.t{
    text-align: center;
    padding: 2% 0;
    
}
h1{
    color: crimson;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.s{
    font-size:1.2rem ;
    color: rgb(25, 42, 48);
}